body,
.card,
.navbar,
.form-control,
.btn {
  transition:
    background-color 0.3s ease,
    color 0.3s ease,
    border-color 0.3s ease;
}

body.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

body.dark-mode .navbar {
  background-color: #1e1e1e !important;
}

body.dark-mode .card {
  /* background-color: #222; */
  color: white;
  border-color: #444;
  /* background-color: #1e1e1e;
  border: 1px solid #2d2d2d;
  border-radius: 1rem; */
  /* padding: 1rem 1rem 1rem 1rem; */
}

body.dark-mode .card-text {
  color: #ddd;
}

body.dark-mode .card-dark {
  color: black;
}

body.dark-mode .btn {
  color: white;
  border: 1px solid white;
}

body.dark-mode .form-control {
  background-color: #2a2a2a;
  color: white;
  border: 1px solid #555;
}

body.dark-mode .footer {
  background-color: #1e1e1e;
  color: white;
}

body.dark-mode a {
  color: #90caf9;
}

body.dark-mode .form-control::placeholder {
  color: #bdbdbd;
}

body.dark-mode .navbar a,
body.dark-mode .nav-link,
body.dark-mode .navbar-brand {
  color: white !important;
}

body.dark-mode .navbar a:hover,
body.dark-mode .nav-link:hover {
  color: #ff5a5f !important;
}

body.dark-mode .tax-toggle {
  color: white !important;
  border: 1px solid white;
}

body.dark-mode #filters {
  background-color: #121212;
}

body.dark-mode .filter {
  color: #d1d1d1;
}

body.dark-mode .filter:hover {
  color: white;
}

body.dark-mode .card:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 20px rgba(255, 255, 255, 0.08);
}

/* For Footer */
body.dark-mode .f-info {
  background-color: #121212 !important;
  color: white !important;
  border-top: 1px solid #333;
}

body.dark-mode .f-info-links a {
  color: #d1d1d1 !important;
}

body.dark-mode .f-info-links a:hover {
  color: #ff5a5f !important;
}

body.dark-mode .f-info-socials i {
  color: white !important;
}

body.dark-mode .f-info-brand {
  color: white !important;
}
